<mat-card class="card">
    <img mat-card-image src="{{producto.imagen}}">
    <mat-card-content>
    <mat-card-title>
      {{producto.name}}
    </mat-card-title>
    <p class="pricetag">{{producto.price | currency}}</p>
  </mat-card-content>
  <mat-card-actions class="">
    <div class="flex-inline">
      <span><button mat-button color="primary"><mat-icon>visibility</mat-icon><span class="p-l-3">Details</span></button></span>
      <span> <button mat-button color="primary" (click)="onClick()"><mat-icon>add_shopping_cart</mat-icon><span>Add to cart</span></button></span>
    </div>
 </mat-card-actions>
</mat-card>
