<div class="container">
  <form class="form item">
    <mat-form-field class="form-element">
      <input
        matInput
        placeholder="Name"
        required
        [(ngModel)]="model.name"
        name="name"
        #name="ngModel"
      />
      <mat-error *ngIf="name.valid || name.pristine">
        Name is required.
      </mat-error>
    </mat-form-field>
    <mat-radio-group class="form-element">
      <p>choose an Option</p>
      <mat-radio-button value="pickup" (change)="onPickupOrDelivery(false)"
        >Pickup</mat-radio-button
      >
      <mat-radio-button class="pl10" value="delivery" (change)="onPickupOrDelivery(true)"
        >Delivery</mat-radio-button
      >
    </mat-radio-group>
    <mat-form-field class="form-element">
      <input
        matInput
        placeholder="Shipping Address"
        required
        [(ngModel)]="model.shippingAddress"
        name="shippingAddress"
        #shippingAddress="ngModel"
      />
      <mat-error *ngIf="shippingAddress.valid || shippingAddress.pristine">
        Shipping Address is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-element">
      <input
        matInput
        placeholder="City"
        required
        [(ngModel)]="model.city"
        name="city"
        #city="ngModel"
      />
      <mat-error *ngIf="city.valid || city.pristine">
        City is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-element">
      <mat-label>Select me</mat-label>
      <mat-select name="store" #store="ngModel" [(ngModel)]="model.store">
        <mat-option [value]="item" *ngFor="let item of stores">
          {{ item.name }} - {{ item.openingHours }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<app-details></app-details>
<div class="container-button">
  <button [disabled]="" mat-raised-button color="primary" type="submit">
    Checkout
  </button>
</div>
