.container{
  display: flex;
  align-items: center;
  padding: 1rem 5rem;

  .item{
    flex: 1 1 auto;
  }
  .form{
    width:100%;
  }
  .form-element{
    padding:5px 0px 10px 2px;
    width:100%;
  }
}
.container-button{
  margin: 0 auto;
  display:block;
  width: 40%;
  padding: 1rem;

  button{
    width:100%;
  }

}
.pl10{
  padding-left: 10px !important;
}
